@model List<SupplierOrderDetail>
@{
    ViewBag.Title = "OrderComplete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    decimal? totalPrice = 0;
}


<section id="order-summary" style="margin-top:50px;">
    <div class="row">
        <div class="col-md-9">
            <h1>We have received your order.</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Product Image</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Sub Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        totalPrice += item.SubTotal;
                        <tr>


                            <td width="50px">
                                <img src="~/Content/img/@item.ProductImage" style="width:auto; height:70px" />
                            </td>
                            <td>
                                @item.ProductName
                            </td>
                            <td>
                                @item.Quantity
                            </td>
                            <td>
                                @item.UnitPrice
                            </td>
                            <td>
                                @item.SubTotal
                            </td>

                        </tr>
                    }
                    <tr>
                    </tr>
                </tbody>
            </table>
            <h5>Total: $@totalPrice</h5>
        </div>
        <div class="col-md-3">
            @Html.ActionLink("Return to Main Page", "Index", "Home", null, new { @class = "btn btn-dark btn-lg" })
        </div>
    </div>
</section>

