@model List<Product>
@{
    ViewBag.Title = "Index";
}

<section id="carousel">

    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="~/Content/img/macbook1.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="carousel-caption-1">Macbook Pro 14″<br />Starting from $1999</h2>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="~/Content/img/Zenbook-14.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="carousel-caption-2">Asus Zenbook 14<br />NOW AVAILABLE!</h2>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="~/Content/img/PlayStation-5.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="carousel-caption-3">Playstation 5<br /><button type="button" class="btn btn-lg btn-primary">BUY NOW!</button></h2>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</section>

@Html.Action("_CategoryPartial")


<section id="products">
    @{if (TempData["error"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["error"]
            </div>
        }
    }
<div class="row mt-5">
    @foreach (var product in Model)
    {
        <div class="col-sm-12 col-md-6 col-lg-3">

            <div class="product-card">
                <div class="product-tumb">
                    <img src="~/Content/img/@product.ProductImagePath" alt="mac-14">
                </div>
                <div class="product-details">
                    <span class="product-catagory">@product.SubCategory.SubCategoryName</span>
                    <h4>@Html.ActionLink(product.ProductName, "ProductDetails", new { id = product.ID }, null)</h4>
                    <div class="product-bottom-details">
                        <div class="product-price">$@product.UnitPrice</div>
                    </div>
                    <div class="row justify-content-center mt-2">
                        @Html.ActionLink("Add to Cart", "AddToCart", "Home", new { id = product.ID }, new { @class = "btn btn-dark" })
                        @Html.ActionLink("Add to Wishlist", "AddToWishlist", "Home", new { id = product.ID }, new { @class = "btn btn-warning mt-2" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>

</section>

